# Python cache
__pycache__/
*.pyc

# Log files
*.log
*.txt

# Windows system files
desktop.ini
Thumbs.db

# IDE / Editor specific
.idea/
.vscode/

# A fájl végére add hozzá ezt a sort:
data/*.json

config.ini